@import 'definitions';

.views-element-container>.content .view-filters .iq-bef-layout{
  &.layout-standard{

    &.active{
      header{
        padding: 15px;
        a{
          &::before{
            transform: translateY(-50%) rotate(180deg);
            background-size: 100% 1px, 0 0;
          }
        }
      }
      section{
        display: block;
      }
    }

    header{
      padding: 15px;
      a{
        display: block;
        font-weight: bold;
        cursor: pointer;
        font-size: $font-size-h3;
        line-height: $line-height-h3;
        font-weight: $font-weight-h3;
        font-style: $font-style-h3;
        font-family: $font-family-h3;
        color: $color-h3;
        position: relative;
        @include fluid-type(320px, 991px, $font-size-min-h3, $font-size-h3);
        @media only screen and (min-width: 768px) {
          cursor: inherit;
        }
        &::before{
          content: '';
          background: linear-gradient($tab-font-color,$tab-font-color), linear-gradient($tab-font-color,$tab-font-color);
          background-position: center;
          background-size: 100% 1px,1px 100%;
          background-repeat: no-repeat;
          width: 13px;
          height: 13px;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          transition: $transition-default;
        }

        &::after{
          content: '';
          display: block;
          width: 21px;
          height: 21px;
          border: 1px solid $tab-font-color;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        &::before,
        &::after{
          @media only screen and (min-width: 768px) {
            display: none;
          }
        }
      }
    }
    section{
      display: none;
      padding-top: 15px;
      @media only screen and (min-width: 768px) {
        display: block;
      }
      .iq-row{
        padding: 0;
        flex-wrap: wrap;
        &.filters-region{
          padding-bottom: 15px;
          > .form-group{
            margin: 0;
            padding: 15px;
            flex: 1;
            flex-basis: 100%;
            @media only screen and (min-width: 768px) {
              flex-basis: 50%;
              max-width: 50%;
            }

            @media only screen and (min-width: 1200px) {
              flex-basis: 25%;
              max-width: 25%;
            }

            // only one child
            &:first-child:last-child{
              flex-basis: 100%;
              max-width: none;
            }

            // excatly 2 children
            &:nth-child(1):nth-last-child(2),
            &:nth-child(2):nth-last-child(1){
              @media only screen and (min-width: 768px) {
                flex-basis: 50%;
                max-width: 50%;
              }
            }

            // excatly 3 children
            &:nth-child(1):nth-last-child(3),
            &:nth-child(2):nth-last-child(2),
            &:nth-child(3):nth-last-child(1){
              @media only screen and (min-width: 768px) {
                flex-basis: 33.33333%;
                max-width: 33.33333%;
              }
            }

            label{
              display: none;
            }
          }
        }

        &.footer-region{
          .sorting-region,
          .actions-region{
            padding-top: 15px;
            border-top: 1px solid $border-color-base;
            margin: 0 15px;
            padding: 30px 0 30px;
            // flex-basis: calc( 100% - 30px );
            flex: 1;
            flex-basis: 100%;
            @media only screen and (min-width: 768px) {
              flex-basis: auto;
            }

            @media only screen and (min-width: 1200px) {
              padding: 30px 0 0;
              // -ms-flex: 0 0 calc( 50% - 15px );
              // flex: 0 0 calc( 50% - 15px );
              // max-width: calc( 50% - 15px );
            }

            > .form-group{
              margin: 0;
            }
          }

          .sorting-region{
            display: flex;
            align-items: center;
            @media only screen and (min-width: 768px) {
              margin-right: 0;
            }
            > .title {
              margin: 0 15px 0 0;
            }
            > .form-group{
              position: relative;
              @media only screen and (min-width: 768px) {
                margin: 0 15px;
              }
              &.active{
                &::after{
                  transform: translateY(-50%) scaleY(-1);
                }
              }
              &::after{
                content: "\f078";
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                position: absolute;
                right: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                transition: $transition-default;
                font-size: 0.875rem;
                color: inherit;
              }
              select{
                font-size: 0.875rem;
                line-height: 1.5rem;
                font-weight: 300;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
              }
            }
          }

          .actions-region{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding-bottom: 15px;
            @media only screen and (min-width: 768px) {
              margin-left: 0;
              padding-bottom: 0;
            }
            > .form-submit{
              width: auto;
              margin: 0;
              &[data-drupal-selector^="edit-reset"]{
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}

